{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "operator-linebreak": [
      "error",
      "none"
    ],
    "no-console": "off",
    // "eol-last": ["error", "never"],
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true
      }
    ]
  }
}